body {
    background-image: url("https://i.pinimg.com/originals/e6/39/e8/e639e87ed93c873708f0177ada8170a9.jpg");
}
h1 {
    font-family:'Marcellus SC', serif;
    font-size: 7em;
    text-align: center;
    color: #ac7705;
}

.container {
    font-family: 'Marcellus SC', serif;
    font-size: 10em;
    text-align: center;
    color: #002d3c
}

.container {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    background-color:rgba(255, 255, 255, 0.7);
}

